{% extends 'base.html' %}
{% load static %}

{% block head_css %}
<link rel="stylesheet" href="{% static '/css/login.css' %}">
{% endblock %}

{% block javascript %}
{% endblock %}

{% block title %}
    : Olvide mi contraseña
{% endblock %}

{% block main %}
<div class="container">
    <section class="seccion_card" style="height: 40em;" >
        <div class="container py-5 h-100">
          <div class="row d-flex justify-content-center align-items-center h-100 ">
            <div class="col-12 col-md-8 col-lg-6 col-xl-5">
            <div class="card shadow-2-strong" style="border-radius: 1rem;">
                <div class="card-body p-5 text-center">
                    <h3>Reestablecimiento exitoso.</h3>
                    <hr id="separator-form">
                    <p>Tu contraseña ha sido correctamente cambiada, puedes inicias sesión otra vez.</p>
                    <div class="text-center">
                        <a href="{% url 'login' %}" class="btn btn-warning signinbtn"><strong>Inicio de Sesión</strong></a>
                    </div>
                </div>
            </div>
            </div>
        </div>
        </div>
      </section>
    </div>
{% endblock %}