{% extends 'base.html' %}
{% load static %}

{% block head_css %}
<link rel="stylesheet" href="{% static '/css/login.css' %}">
{% endblock %}

{% block javascript %}
<script src="{% static 'scripts/repass.js' %}"></script>
{% endblock %}

{% block title %}
    : Olvide mi contraseña
{% endblock %}

{% block main %}
<div class="container mb-10">
    <section class="seccion_card" >
        <div class="container py-5 h-100">
          <div class="row d-flex justify-content-center align-items-center h-100 ">
            <div class="col-12 col-md-8 col-lg-6 col-xl-5">
            <div class="card shadow-2-strong" style="border-radius: 1rem;">
                <div class="card-body p-4 mb-4 text-center">
                    <h3>Reestablecimiento de Contraseña</h3>
                    <hr id="separator-form">
                    {% if validlink%}
                    <p>Ingresa tu nueva contraseña</p>
                    <form method="post" class="text-start">
                        {% csrf_token %}
                        <label class="form-label text-black" for="password">Contraseña nueva</label>
                        <div class="input-group mb-0 " >
                            <input class="form-control" type="password" id="password" name="new_password1" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" placeholder="Escribe aqui tu contraseña" value="" required>
                            <span class="input-group-text">
                            <i class="fas fa-eye" id="togglePasswordP" 
                            style="cursor: pointer"></i>
                            </span>
                        </div>
                        <small class="form-text text-muted text-start">
                            <ul>
                                <li>Debe contener minimo mayusculas, minusculas, numeros y signos (@,!,?)</li>
                                <li>Su contraseña no puede asemejarse tanto a su otra información personal.</li>
                                <li>Su contraseña debe contener al menos 8 caracteres.</li>
                                <li>Su contraseña no puede ser una clave utilizada comúnmente.</li>
                                <li>Su contraseña no puede ser completamente numérica.</li>
                            </ul>
                        </small>
                        <label class="form-label text-black" for="passwordC">Confirmación de Contraseña</label>
                        <div class="input-group mb-4">
                            <input class="form-control" type="password" id="passwordC" name="new_password2" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" placeholder="Confirma tu contraseña " value="" required>
                            <span class="input-group-text">
                            <i class="fas fa-eye" id="togglePasswordPC" 
                            style="cursor: pointer"></i>
                            </span>
                        </div>
                        <div class="text-center">
                            <input id="creation" type="submit" value="Cambiar mi contraseña" class="btn btn-warning signinbtn">
                            <input type="hidden" name="next" value="">
                        </div>
                    </form>
                    {% else %}
                        <p>El link que usaste es invalido o posiblemente ya ha sido utilizado.  Por favor realiza una nueva solicitud.</p>
                    {% endif %}
                    
                </div>
            </div>
            </div>
        </div>
        </div>
      </section>
    </div>
{% endblock %}